@import 'colors';
@import 'general';

$contentWidth: 95%;

.add-new-goal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.new-goal-input-container-outer {
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.new-goal-label {
  @include regularFont;
  width: $contentWidth;
  align-self: center;
}

.new-goal-input-container-inner {
  height: 60px;
  width: $contentWidth;
  max-width: $maxContentWidth;
  align-self: center;
  position: relative;
  margin-top: 10px;
  border: $blueBorderThin;
  border-radius: 3px;
  background-color: $light;

  &:active, &:focus {
    border: $blueBorder;
  }
}

.new-goal-input {
  padding: 5%;
  height: 80%;
  width: 80%;
  background: transparent;
  outline: none;
  border: none;
  font-size: 14px;
  color: $grey;
  resize: none;
}

.new-goal-avatars-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: $contentWidth;
}

.new-goal-button-container {
  @include ctaButton;
  height: 56px;

  .button-outer {
    height: 50px;
  }
}

.confirmation-modal {
  @include modal;

  a {
    border: 2px #fff solid;
    border-radius: 80px;
    width: 100px;
    height: 30px;
    align-self: center;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #fff;
      color: $blue;
    }
  }
}

.path {
  fill: none;
  stroke: #fff;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.confirmation-tick {
  height: 170px;
  width: 170px;
  align-self: center;
  margin: 30px 0 50px 0;
}
