@import 'colors';
@import 'general';

.addNewGoal {
  display: flex;
  flex-direction: column;
}

.newGoal_inputContainer-outer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.newGoal_label {
  font-size: 14px;
  color: $blue;
}

.newGoal_inputContainer-inner {
  height: 65px;
  width: 95%;
  align-self: center;
  position: relative;
  margin-top: 10px;
  border: $blueBorderThin;
  border-radius: 3px;
  background-color: $light;
}

.newGoal_input {
  padding: 10px;
  height: 100%;
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  font-size: 14px;
  font-family: leagueSpartan;
  color: $grey;
  resize: none;
}
