.delete-modal {
  @include modal;
  height: 100vh;

  a { @include modalButton; }
}

.delete-modal-content {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  width: 75%;
  align-self: center;
}

.modal-text {
  color: #fff;
}

#delete-text-top {
  font-size: 20px;
}

#delete-text-bottom {
  font-size: 12px;
  line-height: 20px;
}

.delete-button-container {
  @include ctaButton;

  button {
    border-color: #fff;
    color: #fff;
  }
}
