@import 'general';
@import 'colors';

.feedback-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.feedback-goal-tile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.feedback-question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 289px;
  height: 44px;
  margin-left: 16px;
  p {
    color: $blue;
    font-size: 14px;
  }
}

.feedback-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 289px;
  height: 208px;
  border: $blueBorderThin;
  border-radius: 6px;
  margin-left: 15.5px;
}
