@import 'general';
@import 'colors';

.feedback-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.feedback-goal-tile-container {
  @include flexCenterColumn;
  padding-top: 10px;
  padding-bottom: 10px;
}

.feedback-question-container {
  @include flexCenterColumn;
  height: 44px;
  align-self: center;

  p {
    color: $blue;
    font-size: 14px;
  }
}

.feedback-input-container {
  @include flexCenterColumn;
  width: 90%;
  max-width: 400px;
  height: 208px;
  border: $blueBorderThin;
  border-radius: 6px;
  background-color: $light;
  align-self: center;

  textarea {
    height: 100%;
    border: none;
    padding: 13px;
    outline: none;
    background-color: transparent;
    color: $grey;
    font-family: openSans;
    font-size: 14px;
    resize: none;
  }
}
