@import "colors";

$blueBorder: 2px solid $blue;
$blueBorderThin: 1px solid $blue;

@font-face {
  font-family: leagueSpartan;
  src: url('../assets/fonts/LeagueSpartan-Bold.otf');
}

@font-face {
  font-family: openSans;
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@mixin regularFont {
  font-size: 14px;
  font-family: leagueSpartan;
  letter-spacing: 2.1px;
  line-height: 22px;
  color: $blue;
}

@mixin ctaButton {
  height: 115px;
  display: flex;
  justify-content: center;

  .button-outer {
    position: relative;
    align-self: center;
    text-align: center;
    outline: none;
    width: 100%;
    height: 50%;
  }

  button {
    @include regularFont;
    width: 230px;
    height: 100%;
    border: $blueBorder;
    border-radius: 86px;
    background-color: transparent;
    font-family: leagueSpartan;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:active, &:hover, &:focus {
      outline: none;
    }

    &:hover {
      background-color: $blue;
      color: $light;
    }

    &:disabled {
      opacity: 0.5;
      background-color: transparent;
      color: $blue;
      outline: none;
    }
  }
}
