@import 'colors';
@import 'general';

.goalsList_buttonContainer {
  @include ctaButton;
}

.goalsList_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background: url(./../public/images/goals-list/background.png);
  background-position: bottom center;
  background-repeat: no-repeat;

  ul {
    padding: 0;
    width: 100%;
    margin: 0;
  }

  li {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    border: none;
    cursor: pointer;
  }
}
