@import 'colors';
@import 'general';

.goals-list-button-container {
  @include ctaButton;
}

.goals-list {
  background: url(./../assets/images/background.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
}

.goals-list-list {
  @include flexCenterRow;
  width: 100%;
  height: 100%;

  ul {
    width: 100%;
  }

  li {
    @include flexCenterRow;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
  }
}
