@import 'colors';
@import 'general';

.goalsList_buttonContainer {
  @include ctaButton;
}

.goalsList {
  background: url(./../assets/images/background.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 20px;
}

.goalsList_list {
  @include flexCenterRow;

  ul {
    width: 100%;
  }

  li {
    @include flexCenterRow;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 20px;
    }
  }
}
