@import 'colors';
@import 'general';

.goalsList_buttonContainer {
  @include ctaButton;
}

.goalsList_list {
  background: url(./../public/images/goals-list/background.png);
  background-position: bottom center;
  background-repeat: no-repeat;
}
