@import 'general';
@import 'colors';

$imgHeight: 83px;

.goalTile {
  position: relative;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 90%;
  max-width: $maxContentWidth;
  height: $goalTileHeight;
  cursor: pointer;
  background: url(./../assets/images/list_box.png);
  background-size: 100% 100%;
  z-index: 0;
}

.goalTile_avatarContainer {
  height: $imgHeight;
  width: 68px;
  margin: 5px;

  img {
    height: $imgHeight;
  }
}

.goalTile_nameContainer {
  position: absolute;
  right: 10px;
  width: 75%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 20px;
}

.goalTile_rating {
  position: absolute;
  right: 10px;
  top: 50px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: $blueBorder;
  background-color: $light;
  display: flex;
  justify-content: center;

  p {
    align-self: center;
  }
}

.goal-tile-rating-green-background0 {
  background-color: $green;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

@mixin goalTile_container {
  display: flex;
  justify-content: center;
  height: 96px;
  width: 91px;
  border: 1px solid $blue;
  border-radius: 0;
  background-color: $light;
  visibility: hidden;
  position: relative;
}
.goalTile_editContainer {
  @include goalTile_container;
    margin-left: 7%;
}

.goalTile_deleteContainer {
  @include goalTile_container;
}

.goalTile_icon {
  align-self: center;
  height: 30px;
}

.rightBorder {
  height: $goalTileHeight;
  border-right: 5px solid $borderBlue;
  border-radius: 0 6px 6px 0;
  z-index: 1;
}
