@import 'colors';

.MainContent {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100vw;
  max-width: 600px;

  p {
    color: $blue;
    letter-spacing: 2.1px;
  }
}
