@import "colors";
@import "general";

.menu-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 600px;
  z-index: 1;
  background-color: hsla(211, 66%, 40%, 0.9);
  color: #fff;
  font-family: openSans;
  font-size: 22px;
  line-height: 30px;
  text-align: center;

  a, a:hover, a:active, a:visited {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
  }
}

.close-button-container {
  position: relative;
  align-self: flex-start;
  height: 90px;
  width: 100%;
  @include navContainer;

  button {
    position: absolute;
    right: 15px;
    height: $navItemHeight;
    width: $navItemHeight;
    text-align: center;
    padding: 0;
    background: none;
    outline: none;
    border: 0;
    cursor: pointer;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.menu-links-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  max-width: 600px;
}
