@import 'colors';

.nav {
  background-color: $light;
  height: 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 28px;
    color: $blue;
    letter-spacing: 2.1px;
    cursor: pointer;
    margin: 0;
  }
}
