@import 'colors';

$itemHeight: 28px;

@mixin navContainer {
  position: absolute;
  top: 30px;
  display: inline-block;
  height: $itemHeight;
  cursor: pointer;
}


.nav {
  position: relative;
  background-color: $light;
  height: 90px;
}

.nav_logoContainer {
  @include navContainer;
  left: 50%;
  margin-left: -50px;
  width: 100px;

  h1 {
    font-size: $itemHeight;
    color: $blue;
    letter-spacing: 2.1px;
    margin: 0;
    text-align: center;
  }

}

.nav_menuContainer {
  @include navContainer;
  right: 15px;

  img {
    height: $itemHeight;
    width: $itemHeight;
  }
}
