@import 'colors';
@import 'general';

.newGoal_avatarsContainer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newGoal_avatarBox {
  height: 138px;
  width: 140px;
  margin: 3px;

  @media #{$breakpoint-xs} {
    height: 110px;
    width: 110px;
  }

  @media #{$breakpoint-xxs} {
    height: 100px;
    width: 100px;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

input {
  visibility: hidden;
  position: absolute;
}

label > input:checked + img {
  border: $blueBorder;
  border-radius: 8px;
}
