@import 'colors';
@import 'general';

.newGoal_avatarsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 90%;
  max-width: 500px;
}

.newGoal_avatarsContainer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newGoal_avatarBox {
  height: 140px;
  width: 143px;
  margin: 2px;

  img {
    height: 100%;
    width: 100%;
  }
}
