@import 'colors';
@import 'general';
@import 'avatars';

$contentWidth: 90%;
$ratingBubbleSize: 30px;

.rate-goal-animation-container {
  height: 215px;
  width: 300px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.animation-container-rating {
  height: $ratingBubbleSize;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rating-bubble {
  height: 100%;
  width: $ratingBubbleSize;
  border-radius: 50%;
  border: $blueBorderThin;
  background-color: $light;

  p {
    line-height: $ratingBubbleSize;
    text-align: center;
  }
}

.rate-goal-slider-container {
  height: 45px;
  width: $contentWidth;
  max-width: 500px;
  align-self: center;
}

.rate-goal-slider-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  visibility: visible;
  width: $contentWidth;
  max-width: 500px;
  background-color: transparent;
  align-self: center;

  &:active, &:hover, &:focus  {
    outline: none;
  }
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 50px;
  width: 15px;
  background: transparent;
  cursor: pointer;
  margin-top: -20px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

.rate-goal-slider-cactus {
  input[type=range]::-webkit-slider-thumb {
    width: 20px;
    background-image:
      url($cactusSlider);
    background:
      url($cactusSlider)
      no-repeat
      center;
  }
}

.rate-goal-slider-pepper {
  input[type=range]::-webkit-slider-thumb {
    background-image:
      url($pepperSlider);
    background:
      url($pepperSlider)
      no-repeat
      center;
  }
}

.rate-goal-slider-pumpkin {
  input[type=range]::-webkit-slider-thumb {
    width: 34px;
    background-image:
      url($pumpkinSlider);
    background:
      url($pumpkinSlider)
      no-repeat
      center;
  }
}

.rate-goal-slider-flower {
  input[type=range]::-webkit-slider-thumb {
    width: 34px;
    background-image:
      url($flowerSlider);
    background:
      url($flowerSlider)
      no-repeat
      center;
  }
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: $light;
  border: $blueBorderThin;
  border-radius: 2.5px;
}
