.cactus-animation {
  width: 100%;
}

#vase {
  position: absolute;
  display: inline;
  z-index: 10;
  height: 65px;
  bottom: 5px;
  right: 50%;
  left: 125px;
}

#cactus3 {
  height: 0;
  left: 115px;
  bottom: 5px;
  position: absolute;
}

#arms {
  visibility: hidden;
}
