@import 'general';
@import 'colors';
@import 'progress-animation';
@import 'arrow-animation';

$titleHeight: 25px;
$chartHeight: 100px;
$contentMaxWidth: 400px;

.view-goal-progress-container {
  @include flexCenterColumn;
  align-self: center;
  height: 135px;
  width: 90%;
  max-width: $contentMaxWidth;
  position: relative;
}

.progress-bar-container {
  height: 45px;
  position: relative;
}

@mixin progress-bar {
  height: 10px;
  width: 100%;
  border: $blueBorderThin;
  border-radius: $borderRadius;
  position: absolute;
  top: 30%;
}

.progress-bar-background {
  @include progress-bar;
  background: transparent;
}

.progress-bar-foreground {
  @include progress-bar;
  background-color: $blue;
}

.progress-bar-rating {
  @include regularFont;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: $light;
  border: $blueBorderThin;
  margin-top: -14px;
  top: 48%;
  p {
    top: -20%;
    text-align: center;
    line-height: 20px;
    width: 100%;
  }
}

.progress-bar-time {
    p {
      font-size: 9px;
    }
}

.line-chart-container {
  height: $titleHeight + $chartHeight + 20;
  width: 90%;
  max-width: $contentMaxWidth;
  @include flexCenterColumn;
  align-self: center;
}

.line-chart-inner {
  height: $chartHeight;
  width: 100%;
  background: linear-gradient(270deg, $blue 0%, $lightGreen 100%);
  cursor: pointer;
}

.line-chart-title {
  height: $titleHeight;
  width: 100%;
  background-color: $blue;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.line-chart-title-text {
  width: 70%;
}

.line-chart-title-arrow {
  width: 30%;
  margin-top: 5px;
}

.arrow-1 {
  @extend .arrow;
}

#line-chart-title-text {
  color: $light;
  line-height: $titleHeight;
  font-size: 13px;
  margin-left: 5px;
}

.view-goal-buttonContainer {
  height: 80px;
}
