@import 'colors';
@import 'mainContainer';
@import 'nav';
@import 'goalsList';

html {
  font-size: 1em;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  justify-content: center;
  display: flex;
  height: 100vh;
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

div {
  border: 1px solid hotpink;
}
