@import 'colors';
@import 'general';
@import 'nav';
@import 'mainContainer';
@import 'goalsList';
@import 'goalTile';


html {
  font-size: 1em;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: leagueSpartan;
  justify-content: center;
  display: flex;
  height: 100%;
}

p {
  margin: 0;
  font-size: 14px;
}
