@import 'colors';
@import 'mainContainer';
@import 'nav';
@import 'goalsList';

html {
  font-size: 1em;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  justify-content: center;
  display: flex;
  height: 100vh;
}
