**.DS_Store
node_modules
npm-debug.log

# sass
.sass-cache/*
**/.sass-cache/
style.css
style.css.map

# build

bundle.js

# prototype stuff

prototype/public/.sass-cache/*
prototype/public/styles/sass/style.css
prototype/public/styles/sass/style.css
prototype/public/styles/style.css.map
prototype/public/styles/sass/style.css.map
prototype/public/styles/stye.css.map
prototype/public/styles/style.css
.gitignore

public/styles/sass/style.css*
public/styles/style.css*
node_modules
*.pem

tests/db-tests/*

config.env
