@import 'general';
@import "colors";

$black: #888;
$grey: #666;

.add-goal-page {
  @extend .page;
  background-color: #fff;
}

.back-button-container {
    height: 6%;
    display: flex;
    align-items: center;
}


.back-button {
  margin-left: 5px;
  flex-direction: row;
  background-color: Transparent;
  border: none;
  text-shadow: 0 2px 1px $black;
  color: $grey;
}

.write-a-new-goal {
    height: 15%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.new-goal-header {
  font-size: 1.5em;
  margin: 15px 0 15px;
}

.new-goal-container {
  display: flex;
  flex-direction: row;
  height:30px;
  border: none;
  border-bottom: 1px solid #000;
  width: 97%;
  align-self: center;
}

.new-goal-label {
  font-size: 1.3em;
}

.new-goal-input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.3em;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.goal-icon-container {
  width: 143px;
  height: 140px;
  text-align: center;
  background-color: $light;
  border: $blueBorder;
  border-radius: 6px;
  margin: 3px;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.save-new-goal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 15%;
}
