@import 'general';

.add-goal-page {
  @extend .page;
}

.back-button-container {
    height: 6%;
    display: flex;
    align-items: center;
}


.back-button {
  margin-left: 5px;
  flex-direction: row;
  // height: 28px;
  background-color: Transparent;
  border: none;
  text-shadow: 0 2px 1px #888;
  color: #666;
}

.write-a-new-goal {
    height: 15%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.new-goal-header {
}

.new-goal-container {
  display: flex;
  flex-direction: row;
  height:30px;
  border: none;
  border-bottom: 1px solid #000;
  width: 97%;
  align-self: center;
}

.new-goal-label {
  font-size: 1.3em;
}

.new-goal-input {
  // height: 40px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.3em;
}
