@import 'general';
@import "colors";

$black: #888;


.add-goal-page {
  @extend .page;
  background-color: #fff;
  color: $grey;
  letter-spacing: 2.1px;
}

.back-button-container {
    height: 6%;
    display: flex;
    align-items: center;
}

.back-button {
  margin-left: 5px;
  flex-direction: row;
  background-color: transparent;
  border: none;
  text-shadow: 0 2px 1px $black;
  color: $grey;
}

.write-a-new-goal {
    height: 15%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.new-goal-header {
  font-size: 1em;
  margin: 15px 0 15px;
}

.new-goal-container {
  height:40px;
  align-self: center;
  width: 95%;
  position: relative;
  border: $blueBorder;
  border-radius: 6%;
  background-color: $light;

  input {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 1em;
    color: #666;
    height: 100%;
    box-shadow: none;
    line-height: 40px;
    font-size: inherit;
    letter-spacing: 2.1px;
    padding-left: 2%;
  }
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.goal-icon-container {
  width: 143px;
  height: 140px;
  text-align: center;
  background-color: $light;
  border-radius: 6px;
  margin: 3px;

  img {
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
  }
}

.save-new-goal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 15%;
}

.save-goal-button {
  @extend .main-button;
  height: 100%;
  text-transform: uppercase;
}
