.page {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100vw;
  max-width: 600px;
  height: 100%;
}

.header-box {
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: #fff;
}

.header-title-container {
  width: 80%;
  height: 100%;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2 {
    font-size: 0.8em;
    margin-left: 10px;
    font-weight: normal;
  }

  p {
    margin-left: 10px;
  }
}

.main-content-title {
  h1 {
    margin-left: 10px;
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
  }
}
