$goal-box-size: 70px;

.landing-page {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100vw;
  max-width: 600px;
  height: 100%;
}

.goal-grow-nav {
  background-color: #F7F9F9;
  height: 90px;
  text-align: center;

  p {
    font-size: 28px;
    color: #2364AA;
    letter-spacing: 2.1px;
  }
}

.main-button {
  // font-family: LeagueSpartan-Bold;
  font-size: 14px;
  color: #2364AA;
  letter-spacing: 2.1px;
}

.goal-item-img-container {
  height: $goal-box-size;
  width: $goal-box-size;
  margin: 0 20px 0 20px;

  img {
    max-height: 100%;
  }
}
