@import 'general';
@import 'colors';
@import 'imgsize';
@import 'general';

.landing-page {
  @extend .page;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100vw;
  max-width: 600px;
  height: 100%;
  visibility: visible;
}

.goal-grow-nav {
  background-color: $light;
  height: 90px;
  text-align: center;

  p {
    font-size: 28px;
    color: $blue;
    letter-spacing: 2.1px;
  }
}


.add-goal-button-container {
    height: 20%;
    display: flex;
    justify-content: center;
}

.button-outer {
  position: relative;
  align-self: center;
  text-align: center;
  outline: none;
  width: 100%;
  height: 50%;
}

.add-goal-button {
  @extend .main-button;
  border-radius: 86px;
  outline: none;
  height: 100%;
  width: 70%;
  font-size: 16px;
  font-weight: bolder;
}

.container-list-goals {
  height: 66%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-goals {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  list-style: none;
  width: 100%;
  padding: 0;
}

.goal-item-box {
  display: flex;
  flex-direction: row;
  border: none;
  cursor: pointer;
}

.goal-item {
  background-image: url(../icons/boxPNG.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: $blueBorder;
  position: relative;
  border-radius: 6px;
  width: $width;
  height: $height;
  align-self: center;
  z-index: 0;
  cursor: pointer;
}

.goal-item-description {
    width: 206px;
    height: auto;
    text-align: center;
    padding-top: 10px;
    padding-left: 6px;
}

.goal-item-title {
  font-size: 14px;
  color: $blue;
  letter-spacing: 2.1px;
}

.goal-item-rating {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 1px solid $blue;
  margin-left: 161px;
  margin-top: 5px;
  background-color: $light;
  display: flex;
  justify-content: center;
  p {
    font-size: 14px;
    color: $blue;
    letter-spacing: 2.1px;
    align-self: center;
  }
}

.goal-item-img-container {
  height: 83px;
  width: 68px;
  margin-top: 5px;
  margin-left: 5px;
  img {
    max-height: 100%;
  }
}

.goal-item-rating-progress {
  background-color: $green;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.goal-item-rating-progress-9 {
  @extend .goal-item-rating-progress;
  width: 90%;
}

.goal-item-rating-progress-7 {
  @extend .goal-item-rating-progress;
  width: 70%;
}

.goal-item-rating-progress-4 {
  @extend .goal-item-rating-progress;
  width: 40%;
}
