@import 'general';
@import "colors";

.rate-progress-page {
  @extend .page;
}

.header-image-container {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ccc;

  img {
    max-height: 64px;
    max-width: 64px;
    align-self: center;
  }
}

.rate-progress-slider-animation {
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.animation-container {
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  img {
    align-self: center;
    max-height: 100%;
  }
}

.slider-container {
  padding-top: 20px;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 90%;
  background-color: transparent;
  align-self: center;

  &:active, &:hover, &:focus  {
    outline: none;
  }
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 15px;
  background: #fff;
  background-image: url(./icons/chili-pepper_s.png);
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  background: url('./../icons/pepper_slider_SVG.svg') no-repeat center;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: $light;
  border: $blueBorder;
  border-radius: 3px;
}

.current-value-circle {
  border: $blueBorder;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  cursor: inherit;

  p {
    font-size: 0.8em;
    color: $blue;
  }
}

.save-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
