.login-container {
  position: relative;
  background-image: url(./../images/login-background.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 100%;
  background-color: #F7F9F9;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.login-button {
  background-color: #3C5193;
  border-radius: 8px;
  width: 240px;
  border: 0;
  position: absolute;
  top: 64.5%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  font-family: helvetica;
  height: 39px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.login-facebook-icon {
  height: 80%;
  margin: 6% 10px;
}

.button-inner {
  height: 39px;
}

p {
  margin: 0;
  line-height: 39px;
  margin-right: 10px;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: #fff;
}
