.page, .add-goal-page, .rate-progress-page {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100vw;
  max-width: 600px;
  height: 100%; }

.back-button-container {
  height: 6%;
  display: flex;
  align-items: center; }

.back-button {
  margin-left: 5px;
  flex-direction: row;
  background-color: Transparent;
  border: none;
  text-shadow: 0 2px 1px #888;
  color: #666; }

.write-a-new-goal {
  height: 15%;
  padding: 10px;
  display: flex;
  flex-direction: column; }

.new-goal-header {
  font-size: 1.5em;
  margin: 15px 0 15px; }

.new-goal-container {
  display: flex;
  flex-direction: row;
  height: 30px;
  border: none;
  border-bottom: 1px solid #000;
  width: 97%;
  align-self: center; }

.new-goal-label {
  font-size: 1.3em; }

.new-goal-input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.3em; }

.icons {
  padding: 32px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between; }

.goal-icon-container {
  width: 143px;
  height: 143px; }

.save-new-goal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 15%; }

.page, .add-goal-page, .rate-progress-page {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100vw;
  max-width: 600px;
  height: 100%; }

.rate-progress-header-container {
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: #fff; }

.header-image-container {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ccc; }
  .header-image-container img {
    max-height: 64px;
    max-width: 64px;
    align-self: center; }

.header-title-container {
  width: 80%;
  height: 100%;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .header-title-container h2 {
    font-size: 0.8em;
    margin-left: 10px;
    font-weight: normal; }
  .header-title-container p {
    margin-left: 10px; }

.rate-progress-slider-animation {
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.animation-container {
  height: 70%; }

.slider-container {
  padding-top: 20px;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .slider-container p {
    align-self: center;
    font-size: 1.3em; }

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 90%;
  /* Specific width is required for Firefox. */
  background-color: transparent;
  align-self: center; }
  input[type=range]:active, input[type=range]:hover, input[type=range]:focus {
    outline: none; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 6px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */ }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #666;
  border-radius: 1.3px; }

.animation-title h1 {
  margin-left: 10px;
  font-weight: normal;
  font-size: 1.5em;
  text-align: center; }

.save-container {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.goal-item-img-container {
  height: 70px;
  width: 70px;
  margin: 0 20px 0 20px; }
  .goal-item-img-container img {
    max-height: 100%; }

html {
  font-size: 1em;
  height: 100%; }

body {
  background-color: #ddd;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh; }

.main-button {
  height: 35px;
  align-self: center;
  border-radius: 40px;
  display: block;
  border: 0;
  width: 100%;
  cursor: pointer;
  background-color: #aaa;
  box-shadow: 0 4px 2px #666; }
  .main-button:hover {
    background-color: #666; }

.button-outer {
  position: relative;
  align-self: center;
  text-align: center;
  width: 50%; }

.landing-page {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100vw;
  max-width: 600px;
  height: 100%; }

div {
  border: 1px solid hotpink; }

.welcome-message {
  background-color: #666;
  height: 20%;
  padding: 20px;
  color: #ddd; }
  .welcome-message .welcome-hello {
    font-size: 1.5em; }
  .welcome-message .welcome-question {
    font-size: 1.3em; }

.add-goal-button {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.container-list-goals {
  height: 70%;
  display: flex;
  flex-direction: row;
  background-color: #666; }

.list-goals {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  list-style: none;
  width: 100%;
  padding: 0; }

.goal-item {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%; }

.goal-item-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: 3px solid #ddd;
  cursor: pointer;
  height: 70px; }
  .goal-item-box:hover {
    background-color: #aaa; }
  .goal-item-box p {
    font-size: 1.2em;
    color: #ddd; }
    .goal-item-box p:hover {
      text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
