@import 'add-goal';
@import 'rate-progress';
@import 'landing-page';
@import 'review-progress';

html {
  font-size: 1em;
  height: 100%;
}

body {
  font-family: leagueSpartan;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh
}

div {
  border: 1px solid hotpink
}

input {
  font-family: leagueSpartan;
}


.add-goal-button {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-list-goals {
  height: 70%;
  display: flex;
  flex-direction: row;
  background-color: #666;
}

.list-goals {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  list-style: none;
  width: 100%;
  padding: 0;
}

.goal-item {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
}

.goal-item-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: 3px solid #ddd;
  cursor: pointer;
  height: $goal-box-size;

  &:hover {
    background-color: #aaa;
  }

  p {
    font-size: 1.2em;
    color: #ddd;

    &:hover {
      text-decoration: underline;
    }
  }
}

@font-face {
  font-family: leagueSpartan;
  src: url('./../LeagueSpartan-Bold.otf');
}
